html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

body div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  color: #1aabb9;
  font-size: 2em;
  font-weight: 900;
  margin: 10px 0;
  margin-bottom: 20px;
}

a {
  margin: 10px 0;
  padding: 10px 25px;
  border-radius: 50px;
  background-color: #fb5f55;
  text-decoration: none;
  font-size: 1.4em;
  font-weight: 900;
  color: white;
}
